.App{
    font-family: Manrope;
}
.day-side{
    width: 414px;
    height: 828px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    border-radius: 48px;
    z-index: 50;
    position: relative;

}
.night-side{
    width: 414px;
    height: 828px;
    border-radius: 48px;
    background-color: rgba(17, 24, 39, 0.75);
    backdrop-filter: blur(15px);
    z-index: 50;
}
.search-bar{
    width: 400px;
    height: 44px;
}
.input-container{
    display: flex;
    background-color: none;
}
.weather-icon{
    width: 274.09px;
    height: 274.09px;
}
.DaySide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-container {
    display: flex;
}
.founded-city{
    display: flex;
    align-items: center;
    gap: 15px
}

.left{
    flex-basis: 50%;
    height: 100vh;
    background-color: rgba(243, 244, 246, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    height: 100vh;
    background-color: #0F141E;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar-container{
    width: 512px;
    height: 80px;
    cursor: pointer;
    border: 1px solid black;
    align-items: center;
    justify-content: center; 
    border-radius: 48px;
}
.search-container{
    position: absolute;
    display: flex;
    justify-items: center;
    top: 40px;
}
.pinecone-logo-container{
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(243, 244, 246, 1);
    border-radius: 100px;
}
.logo-left{
    width: 43.29px;
    height: 86px;
}
.logo-right{
    width: 43.29px;
    height: 86px;
}
.vector{
    height: 340px;
    position: absolute;
    z-index: 0;
    left: 50%;
}.vector1{
    height: 540px;
    position: absolute;
    z-index: 0;
    left: 50%;
}
.vector2{
    height: 940px;
    position: absolute;
    z-index: 0;
    left: 50%;
}
.vector3{
    height: 1340px;
    position: absolute;
    z-index: 0;
    left: 50%;
}
.vector4{
    height: 1740px;
    position: absolute;
    z-index: 0;
    left: 50%;
}
.vecto{
    height: 340px;
    position: absolute;
    z-index: 0;
    right: 50%;
}.vecto1{
    height: 540px;
    position: absolute;
    z-index: 0;
    right: 50%;
}
.vecto2{
    height: 940px;
    position: absolute;
    z-index: 0;
    right: 50%;
}
.vecto3{
    height: 1340px;
    position: absolute;
    z-index: 0;
    right: 50%;
}
.vecto4{
    height: 1740px;
    position: absolute;
    z-index: 0;
    right: 50%;
}
.sun-container{
    width: 414px;
    height: 828px;
    border-radius: 48px;
    z-index: 0;
    position: absolute;
}
.sun{
    width: 176px;
    height: 176px;
    position: absolute;
    top: -70px;
    left: -70px;
}
.moon-container{
    width: 414px;
    height: 828px;
    border-radius: 48px;
    z-index: 0;
    position: absolute;
}
.moon{
    width: 128px;
    height: 128px;
    position: absolute;
    bottom: -60px;
    right: -60px;
}