.App{
    font-family: Manrope;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color:rgba(243, 244, 246, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.day-side{
    width: 414px;
    height: 828px;
    background-color: rgba(255, 255, 255, 0.75);
}
.night-side{
    width: 414px;
    height: 828px;
    background-color: rgba(255, 255, 255, 0.75);
}
.search-bar-container{
    position: relative;
}

.weather-icon{
    width: 274.09px;
    height: 274.09px;
}
.DaySide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}