.App{
    font-family: Manrope;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color:rgba(243, 244, 246, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.day-side{
    width: 414px;
    height: 828px;
    background-color: rgba(255, 255, 255, 0.75);
}
.night-side{
    width: 414px;
    height: 828px;
    background-color: rgba(255, 255, 255, 0.75);
}
.search-bar{
    width: 400px;
    height: 44px;
}
.search-bar-container{
    width: 512px;
    height: 80px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-container{
    display: flex;
    background-color: none;
}
.weather-icon{
    width: 274.09px;
    height: 274.09px;
}
.DaySide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-container {
    display: flex;
}
.day-side {
    border-radius: 48px;
}
.night-side{
    border-radius: 48px;
}

.founded-city{
    display: flex;
    align-items: center;
    gap: 15px
}
